{% extends 'basic.html' %}

{% block head %}
{{super()}}
<title>HOME</title>
<link href="{{ url_for('static', filename='css/model.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/myadmin.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.4.0/dist/echarts.min.js"></script>
<style>
    li{
        padding: 1ex;
    }
    li:hover{
        background-color: rgba(0, 0, 0, 0.411);
    }   
    a{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
        color: rgba(0, 0, 0, 0.432);
        text-decoration: none ;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <div class="navbar-default sidebar nicescroll">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{url_for('index')}}" >首页</a>
            </li>
            <li>
                <a href="{{url_for('fbranking')}}" >反馈热度</a>
            </li>
            {% if current_user.username == 'wdnmd' %}
            <li>
                <a href="{{url_for('fbadmin')}}" >反馈类型管理</a>
            </li>
            {% else %}
            <li>
                <a href="{{url_for('fbmanage')}}">我的反馈</a>
            </li>
            {% endif %}
        </ul>
    </div>
    

    <div id="page-wrapper" style="background-color: rgb(255, 255, 255);">
        <div id="container" style="width: 600px;height:400px;padding: 10ex;padding-left: 40ex;"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('container'));
            var temp_2 = []; 
            var i = 0;
            "{% for each in set %}"
                var temp_1 = [];
                temp_1[0] = "{{ each[0]|safe }}";
                temp_1[1] = "{{ each[1]|safe }}";
                temp_2[i] = temp_1;
                i++;
            "{% endfor %}"
            var data = [];
            for(var i = 0; i < "{{ set|size }}"; i++)
            {
                var item = {
                    name: temp_2[i][0],
                    value: temp_2[i][1]
                }
                data.push(item);
            }
            var option = {
                tooltip: {},
                series: [{
                    name: '反馈类型',
                    type: 'pie',
                    radius: '65%',
                    data: data,
                    roseType: 'angle',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(0, 0, 0, 0.3)',
                                fontSize: 20,
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(0, 0, 0, 0.3)'
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            shadowColor: 'rgba(19, 185, 185)'
                        }
                    }
                }]
            };
            myChart.setOption(option);
        </script>
    </div>
</body>
{% endblock %}